$font-size-largest: 1.75rem;
$font-size-large: 1.25rem;
$font-size-normal: 1rem;
$font-size-small: .75rem;
$color-theme: #7E1421;
$color-theme-light: #841F2B;
$color-mercury: #E4E6E5;
$color-highlight: #2B3C47;
$padding-frame: 1.75rem;
$width-menu: 6rem;
$height-menu: 5.4rem;
$line-height-large: 1.35em;
$letter-spacing-large: .14em;
$height-nav-top: 20vw;
$height-nav-bottom: 30.9vw;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
}

@import './fonts';

@mixin font {
  font-family: 'Avenir', serif;
  letter-spacing: .03em;
}

@mixin focus {
  //outline: -webkit-focus-ring-color auto 5px;
}

html {
  @include font;
  font-size: 16px;
}

pre {
  @include font;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

input {
  font-size: inherit;
}

img, label {
  display: block;
}

@mixin label {
  position: absolute;
  bottom: 0;
  padding: .2rem 3rem;
  font-weight: lighter;
}

body.desktop .mobile,
body.mobile .desktop {
  display: none !important;
}

@import './page/index';
@import './menu';
@import './mobile/index';