.page.page-frame#contact
  .frame
    form.panel-contact
      .col
        input(placeholder='DENOMINATION')
        input(placeholder='PRENOM')
        input(placeholder='NOM')
      .col
        input(placeholder='ACTIVITE')
        input(placeholder='COURRIEL')
        input(placeholder='NUMERO DE TELEPHONE')
      .col
        .fake -
        button(type='submit') ENVOYER
    .panel-info
      .info
        | CHAPOROYAL<br>
        | 3 cours Charlemagne<br>
        | 69002 Lyon, France<br>
        | <br>
        | 33) 4 27 18 26 64<br>
        | contact@chaporoyal.com<br>
    a.wrapper-logo(href='#main')
      img.image-logo-square(src='/img/image-logo-square.svg')
    a.wrapper-menu(href='#')
      img.icon-menu(src='/img/frame/icon-menu.svg')
  include ../labels