mixin panel-info
  .info
    | CHAPOROYAL<br>
    | 3 cours Charlemagne<br>
    | 69002 Lyon, France<br>
    | <br>
    | 33) 4 27 18 26 64<br>
    | contact@chaporoyal.com<br>

.page.page-frame#contact
  .frame
    .panel-info.mobile
      +panel-info
    form.panel-contact#form-contact(method='POST', action='https://prendssoin.com/api/chaporoyal/contact')
      .col
        input(name='denomination', placeholder='DENOMINATION')
        input(name='prenom', placeholder='PRÉNOM')
        input(name='nom', placeholder='NOM')
        input(name='activite', placeholder='ACTIVITE')
      .col
        input(name='courriel', placeholder='COURRIEL')
        input(name='telephone', placeholder='NUMERO DE TELEPHONE')
        textarea(name='memo', placeholder='MEMO')
      .col
        .fake -
        button(type='submit') ENVOYER
        .fake -
    .panel-info.desktop
      +panel-info
    include ../overlays/image-logo
    include ../overlays/icon-menu
  include ../overlays/labels
  .overlay#contact-done
    .label-message Nous vous remercions de votre intérêt. Nous vous répondrons dans les meilleurs délais.
    a.label-link(href='#main') Retourner à la page d’accueil