.page.page-frame#legales
  .frame
    .content
      a.wrapper-logo(href='#main')
        img.image-logo-square(src='/img/image-logo-square.svg')
      .title MENTIONS LÉGALES
      pre
        include ../../legales.txt
    include ../overlays/icon-menu
  include ../labels