.page.active#main
  .container-menu
    a.wrapper-menu(href='#')
      img.icon-menu(src='/img/main/icon-menu.svg')
  .container-contact
    a.wrapper-contact(href='#contact')
      img.icon-contact(src='/img/main/icon-contact.svg')
  img.image-logo-rect(src='/img/main/image-logo-rect.svg')
  .label-address