.page.active#main
  .container-menu.desktop
    a.wrapper-menu(href='#')
      img.icon-menu(src='/img/menu/icon-menu.svg')
  .container-contact.desktop
    a.wrapper-contact(href='#contact')
      img.icon-contact(src='/img/main/icon-contact.svg')
  img.image-logo-rect.desktop(src='/img/main/image-logo-rect.svg')
  include ../overlays/labels