.page.active#main
  .background
  .container-menu.desktop
    a.wrapper-menu(href='#')
      img.icon-menu(src='/img/menu/icon-menu.svg', alt='menu')
  .container-contact.desktop
    a.wrapper-contact(href='#contact')
      img.icon-contact(src= fr ? '/img/main/icon-contact-fr.svg' : '/img/main/icon-contact-en.svg', alt='contact')
  img.image-logo-rect.desktop(src='/img/main/image-logo-rect.svg', alt='logo')
  include ../overlays/labels