.page.page-frame#nos-ambitions
  .frame
    input#ambition-1780(type='radio', name='ambitions', checked)
    .triangle.left
      .background(style='background-image: url(/img/nos-ambitions/backgrounds/1.jpg)')
      .shape
      .wrapper-years
        .container-years
          label.previous(for='ambition-1980') 1980
          .current 1780
          label.next(for='ambition-1880') 1880
      .description
        .title Exportation made in France
        .content
          | Les produits que nous sélectionnons ont pour vocation d’être présentés au monde entier, et surtout en Asie. En effet, les marchés émergents ne cessent de croître et les consommateurs sont de plus en plus attirés par les produits atypiques.
          | Nous ommes en contact constant avec des acteurs en Asie, notre zone de chalandise, afin de développer notre stratégie BtoB.
    input#ambition-1880(type='radio', name='ambitions')
    .triangle.left
      .background(style='background-image: url(/img/nos-ambitions/backgrounds/2.jpg)')
      .shape
      .wrapper-years
        .container-years
          label.previous(for='ambition-1780') 1780
          .current 1880
          label.next(for='ambition-1980') 1980
      .description
        .title Exportation made in France
        .content
          | Les produits que nous sélectionnons ont pour vocation d’être présentés au monde entier, et surtout en Asie. En effet, les marchés émergents ne cessent de croître et les consommateurs sont de plus en plus attirés par les produits atypiques.
          | Nous ommes en contact constant avec des acteurs en Asie, notre zone de chalandise, afin de développer notre stratégie BtoB.
    input#ambition-1980(type='radio', name='ambitions')
    .triangle.right
      .background(style='background-image: url(/img/nos-ambitions/backgrounds/3.jpg)')
      .shape
      .wrapper-years
        .container-years
          label.previous(for='ambition-1880') 1880
          .current 1980
          label.next(for='ambition-1780') 1780
      .description
        .title Exportation made in France
        .content
          | Les produits que nous sélectionnons ont pour vocation d’être présentés au monde entier, et surtout en Asie. En effet, les marchés émergents ne cessent de croître et les consommateurs sont de plus en plus attirés par les produits atypiques.
          | Nous ommes en contact constant avec des acteurs en Asie, notre zone de chalandise, afin de développer notre stratégie BtoB.
    include ../overlays/image-logo
    include ../overlays/icon-menu
  include ../labels