.page.page-frame#nos_ambitions
  .frame
    input#ambition-1780(type='radio', name='ambitions', checked)
    .triangle.left
      .background(style='background-image: url(/img/nos_ambitions/backgrounds/1.jpg)')
      .shape
      .wrapper-years
        .container-years
          label.previous(for='ambition-1980') 1980
          .current 1780
          label.next(for='ambition-1880') 1880
      .description
        .content
          | Aider les PME et les artisans qui peinent à trouver des partenaires fiables et sur le long-terme en Asie.
    input#ambition-1880(type='radio', name='ambitions')
    .triangle.left
      .background(style='background-image: url(/img/nos_ambitions/backgrounds/2.jpg)')
      .shape
      .wrapper-years
        .container-years
          label.previous(for='ambition-1780') 1780
          .current 1880
          label.next(for='ambition-1980') 1980
      .description
        .content
          | Avoir une relation durable avec nos partenaires français, nos partenaires étrangers et nos clients.
    input#ambition-1980(type='radio', name='ambitions')
    .triangle.right
      .background(style='background-image: url(/img/nos_ambitions/backgrounds/3.jpg)')
      .shape
      .wrapper-years
        .container-years
          label.previous(for='ambition-1880') 1880
          .current 1980
          label.next(for='ambition-1780') 1780
      .description
        .content
          | Améliorer la connaissance des entreprises asiatiques pour les produits français;
          | Améliorer la relation existante entre les PME et artisans français et leurs partenaires en Asie.
    include ../overlays/image-logo
    include ../overlays/icon-menu
  include ../overlays/labels