.page.page-frame#paiement
  .frame
    .container-boxes
      .box.left
        .title DEMANDE DE PARTENARIAT
        .subtitle (par etude)
        each payment in payments
          form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value=payment.hosted_button_id)
            .name= payment.name
            .price= payment.price
            input.button(type='image', src='https://chapo-royal.github.io/img/paiement/button.svg', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
            img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
        .label-personalize CONTACTEZ-NOUS POUR TOUT DEVIS PERSONNALISÉ
      .box.right.desktop
        .title DEMANDE D’ÉTUDES DE MARCHÉ
        .label-demande DEMANDE DE DEVIS
        .label-personalize CONTACTEZ-NOUS POUR TOUT DEVIS PERSONNALISÉ
        a.label-contact(href='#contact') Contact us
    a.label-contact.desktop(href='#contact') Contact us
    include ../overlays/image-logo
    include ../overlays/icon-menu
  include ../overlays/labels
  .overlay#paiement-done
    .label-message Merci d'avoir choisi ChapoRoyal.
    a.label-link(href='#main') Retourner à la page d'accueil