.page.page-frame#presentation
  .frame.desktop
    .panel-presentation
      .container-content
        .title PRESENTATION
        .content
          p Née en 2016, ChapoRoyal est une société de service à vocation internationale, implantée à Lyon. Sa mission première consiste à établir un lien commercial entre les entreprises françaises et les marchés émergents.
          p Attachés à la préservation des savoir-faire français, notre volonté est de faire rayonner des productions artisanales dans le monde auprès de clientèles toujours plus friandes du prestige français.
        .from CHAPOROYAL<br>LYON
    .panel-letters
      .letter.active(style='background-image: url(/img/presentation/letters/1.jpg)')
      .letter(style='background-image: url(/img/presentation/letters/2.jpg)')
      .letter(style='background-image: url(/img/presentation/letters/3.jpg)')
    include ../overlays/image-logo
    include ../overlays/icon-menu
  .frame.mobile
    .container-indicators
      .line
      a.indicator.active(href='#')
      a.indicator(href='#')
      a.indicator(href='#')
      a.indicator(href='#')
    .title PRESENTATION
    .container-slides
      .slide.active
        .content
          p "Cocaine is a hell of a drug," said Rick James.
          p Today, we present you with a monothematic newsletter about a drug that has affected ties between the United States and Colombia, at least since the late 1970s. We have a look at the increase in cocaine seized in the United States and the possible reason behind this development.
        .from CHAPOROYAL<br>LYON
      .slide(style='background-image: url(/img/presentation/letters/1.jpg)')
      .slide(style='background-image: url(/img/presentation/letters/2.jpg)')
      .slide(style='background-image: url(/img/presentation/letters/3.jpg)')
  include ../overlays/labels