.page.page-frame#presentation
  .frame
    .panel-presentation
      .title PRESENTATION
      .content
        p "Cocaine is a hell of a drug," said Rick James.
        p Today, we present you with a monothematic newsletter about a drug that has affected ties between the United States and Colombia, at least since the late 1970s. We have a look at the increase in cocaine seized in the United States and the possible reason behind this development.
      .from CHAPOROYAL<br>LYON
    .panel-letters
      .letter.active(style='background-image: url(/img/presentation/letters/1.jpg)')
      .letter(style='background-image: url(/img/presentation/letters/2.jpg)')
      .letter(style='background-image: url(/img/presentation/letters/3.jpg)')
    include ../overlays/image-logo
    include ../overlays/icon-menu
  include ../overlays/labels