a.label-legal.desktop(href='#legales')
  = fr ? 'Mentions légales' : 'Legal notice'
.label-copyright.desktop
  = fr ? '© 2017 ChapoRoyal - Tous droits réservés' : '© 2017 ChapoRoyal - All rights reserved'