.nav-top.mobile
  a.wrapper-logo(href='#main')
    img.image-logo-mobile(src='/img/mobile/image-logo-mobile.svg', alt='logo')
  a.wrapper-menu(href='#')
    .icon-menu(aria-label="menu")
.nav-bottom.mobile
  a.wrapper-contact(href='#contact')
    img.icon-contact(src= fr ? '/img/mobile/icon-contact-fr.svg' : '/img/mobile/icon-contact-en.svg', alt='contact')
  a.label-legal(href='#legales')
    = fr ? 'Mentions légales' : 'Legal notice'