.nav-top.mobile
  a.wrapper-logo(href='#main')
    img.image-logo-mobile(src='/img/mobile/image-logo-mobile.svg')
  a.wrapper-menu(href='#')
    .icon-menu
.nav-bottom.mobile
  a.wrapper-contact(href='#contact')
    img.icon-contact(src='/img/mobile/icon-contact.svg')