&#legales {
  .frame {
    align-items: stretch;

    .content {
      max-width: none;
      background-color: $color-theme-light;
      padding: calc(#{$height-nav-top} + 1.5rem) 2.5rem 0;

      pre {
        margin-bottom: $height-nav-bottom;
      }
    }
  }
}