&#paiement {
  .frame {
    background-color: $color-theme-light;
    justify-content: flex-start;
    padding: $height-nav-top 0 0;
    align-items: stretch;
    overflow-y: auto;

    .container-boxes {
      display: block;
      min-width: 0;
      max-width: none;
      width: auto;
      padding-top: 1rem;
      flex-direction: column;

      .box {
        background-color: $color-theme;
        padding: 2rem 0;
        margin-right: 0;
        margin-bottom: $height-nav-bottom;

        &.left {
          min-width: 0;
          max-width: none;
          border-left: none;
          border-right: none;

          form {
            flex: 0 0 auto;
            flex-wrap: wrap;
            justify-content: center;

            .name {
              flex-basis: 60%;
            }
            .price {
              flex-basis: 40%;
            }
            .button {
              margin-top: 1.5rem;
            }
          }

          .label-personalize {
            left: 0;
            text-align: center;
          }
        }
      }
    }
  }
}