#menu
  .container-content
    .container-top.desktop
      .container-langs
        a.lang(href='/', class=fr && 'active') FR.
        a.lang(href='/en/', class=!fr && 'active') EN.
      a.wrapper-menu(href='#')
        img.icon-close(src='/img/menu/icon-close.svg')
    .list
      a(href='#presentation')
        = fr ? 'PRESENTATION' : 'PRESENTATION'
      a(href='#activites')
        = fr ? 'ACTIVITES' : 'ACTIVITIES'
      a(href='#partenaires')
        = fr ? 'PARTENAIRES' : 'PARTNERS'
      a(href='#nos-ambitions')
        = fr ? 'NOS AMBITIONS' : 'OUR AMBITIONS'
      a(href='#contact')
        = fr ? 'CONTACT US' : 'CONTACT US'
      a.button.desktop(href='#paiement')
        span
          != fr ? 'DEVENIR<br>PARTENAIRE' : 'BECOME A<br>PARTNER'
      a.button.mobile(href='#paiement')
        span
          = fr ? 'DEVENIR PARTENAIRE' : 'BECOME A PARTNER'