#menu
  .container-content
    a.wrapper-close(href='#')
      img.icon-close(src='/img/menu/icon-close.svg')
    .list
      a(href='#presentation') PRESENTATION
      a(href='#activites') ACTIVITES
      a(href='#partenaires') PARTENAIRES
      a(href='#nos-ambitions') NOS AMBITIONS
      a(href='#contact') CONTACT