#menu
  .container-content
    .container-top
      .container-langs
        a.lang(href='/', class=fr && 'active') FR.
        a.lang(href='/en/', class=!fr && 'active') EN.
      a.wrapper-close(href='#')
        img.icon-close(src='/img/menu/icon-close.svg')
    .list
      a(href='#presentation')
        = fr ? 'PRESENTATION' : 'PRESENTATION'
      a(href='#activites')
        = fr ? 'ACTIVITES' : 'ACTIVITIES'
      a(href='#partenaires')
        = fr ? 'PARTENAIRES' : 'PARTNERS'
      a(href='#nos-ambitions')
        = fr ? 'NOS AMBITIONS' : 'OUR AMBITIONS'
      a(href='#contact')
        = fr ? 'CONTACT US' : 'CONTACT US'