#menu
  .container-content
    a.wrapper-close(href='#')
      img.icon-close(src='/img/menu/icon-close.svg')
    a.wrapper-logo(href='#main')
      img.image-logo-square(src='/img/image-logo-square.svg')
    .list
      a(href='#presentation') PRESENTATION
      a(href='#activites') ACTIVITES
      a(href='#partenaires') PARTENAIRES
      a(href='#nos-ambitions') NOS AMBITIONS