&#main {
  .background {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vh;
    height: 100vw;
    background: repeat-y top left;
    background-size: 80vh;
    animation: anim-bg-flow 60s linear infinite;

    @keyframes anim-bg-flow {
      from {
        background-position-y: 0;
      }
      to {
        background-position-y: -264.1813602vh;
      }
    }

    body.desktop &,
    body.mobile & {
      background-image: url(/img/main/background.jpg);
      // load after other images begin loading
    }

    transform-origin: top left;
    transform: rotate(-90deg);
    // load image horizontally
  }

  .container-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 11.3vw;
    margin-top: -0.1vw;
    background-image: url(/img/main/container-menu.svg);
    background-size: 100% 100%;

    .wrapper-menu {
      position: absolute;
      top: 1.9vw;
      right: 8.0vw;

      .icon-menu {
        width: 4.6vw;
      }
    }
  }

  .container-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 36.4vw;
    height: 10.3vw;
    margin-bottom: -0.1vw;
    background-image: url(/img/main/container-contact.svg);
    background-size: 100% 100%;

    .wrapper-contact {
      position: absolute;
      bottom: 0.7vw;
      left: 5.3vw;

      .icon-contact {
        width: 9.0vw;
      }
    }
  }

  .image-logo-rect {
    position: absolute;
    top: 5.6vw;
    left: 9.7vw;
    width: 16.5vw;
  }

  .label-legal {
    display: none;
  }
}